body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;

    font-family: "Inter", system-ui, sans-serif;
    line-height: 1.6;

    color: #eee;
    background: #111;
}

hr {
    border: 0;
    border-top: 3px solid #333;
}

a {
    color: #00ffc0;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.2;
}
