// Hues
$hue_primary: 165;
$hue_red: 0;
$hue_orange: 30;
$hue_yellow: 50;
$hue_lime: 100;
$hue_cyan: 180;
$hue_blue: 215;
$hue_marine: 235;
$hue_purple: 275;
$hue_pink: 310;

// Root Hue Application
:root {
    --hue: #{$hue_primary};
}

// Accents
$accent_1: hsl(var(--hue), 100%, 50%);
$accent_2: hsl(var(--hue), 80%, 40%);

// Backgrounds
$bg_1: hsl(var(--hue), 10%, 10%);
$bg_2: hsl(var(--hue), 13%, 17%);

// Text
$txt_1: hsl(0, 0%, 93%);
// Dark Text
$txt_dark_1: hsl(var(--hue), 11%, 7%);

// Other
$border_1: hsl(var(---hue), 10%, 20%);

// Color Palette Classes
.red { --hue: #{$hue_red}; }
.orange { --hue: #{$hue_orange}; }
.yellow { --hue: #{$hue_yellow}; }
.lime { --hue: #{$hue_lime}; }
.cyan { --hue: #{$hue_cyan}; }
.blue { --hue: #{$hue_blue}; }
.marine { --hue: #{$hue_marine}; }
.purple { --hue: #{$hue_purple}; }
.pink { --hue: #{$hue_pink}; }

// Browser Override Layer
@layer browser_override;

// Classes
// ---------------------------------------- //

.button {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    text-decoration: none;
    background: $bg_2;
    color: $accent_1;
    font-weight: 900;

    box-shadow: 0 3px 0 $accent_2;
    transition: 0.15s ease;
}

.button:hover {
    background: $accent_1;
    color: $txt_dark_1;
    
    transform: translateY(2px);
    box-shadow: 0 1px 0 $accent_2;
}

.accent {
    color: $accent_1;
}

.tiltleft {
    display: inline-block;
    transition: transform 0.1s ease;
}

.tiltleft:hover {
    transform: rotate(-5deg);
}

.tiltright {
    display: inline-block;
    transition: transform 0.1s ease;
}

.tiltright:hover {
    transform: rotate(5deg);
}

// ---------------------------------------- //


// Other
// ---------------------------------------- //

body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;

    font-family: "Inter", system-ui, sans-serif;
    line-height: 1.6;

    color: $txt_1;
    background: $bg_1;
}

hr {
    border: 0;
    border-top: 5px solid $border_1;
    margin: 30px 0;
}

a:not(.blank) {
    color: $accent_1;
}

@layer browser_override {
    a.blank {
        color: inherit;
        text-decoration: none;
    }
}
    
img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    line-height: 1.2;
}

nav a {
    @extend .button;
}

::selection {
    background: $accent_1;
    color: $txt_dark_1;
}

mark:not(.blank) {
    background: $accent_1;
    color: $txt_dark_1;
    padding: 2px 6px;
    border-radius: 999px;
}

pre, code {
    background: $bg_2;
    font-family: "Jetbrains Mono", ui-monospace, monospace;
    font-size: 0.9em;
}

code {
    padding: 4px;
    border-radius: 999px;
}

pre {
    padding: 16px;
    border-radius: 12px;
    overflow-x: auto;
}
