// Base Hue
$hue: 165;

// Accents
$accent_1: hsl($hue, 100%, 50%);
$accent_2: hsl($hue, 80%, 40%);

// Backgrounds
$bg_1: hsl($hue, 5%, 5%);
$bg_2: hsl($hue, 13%, 17%);

// Text
$txt_1: hsl(0, 0%, 93%);
// Dark Text
$txt_dark_1: hsl($hue, 11%, 7%);

// Other
$border_1: hsl(0, 0%, 20%);

body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;

    font-family: "Inter", system-ui, sans-serif;
    line-height: 1.6;

    color: $txt_1;
    background: $bg_1;
}

hr {
    border: 0;
    border-top: 5px solid $border_1;
}

a {
    color: $accent_1;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.2;
}

nav a {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 999px;
    text-decoration: none;
    background: $bg_2;
    color: $accent_1;

    box_shadow: 0 3px 0 $accent_2;
    transition: 0.15s ease;
}

nav a:hover {
    background: #accent_1;
    color: $txt_dark_1;
    
    transform: translateY(2px);
    box_shadow: 0 1px 0 $accent_2;
}
