<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}tivi</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
    {% include webfonts.html %}
    {% include scripts.html %}
  </head>
  <body>
    {% if page.url == "/" %}
      <img src="{{ '/assets/content/tivi.png' | relative_url }}">
    {% endif %}
    {% include top.html %}
    {{ content }}
  </body>
</html>
